<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aqara Camera View</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  </head>
  <body>
    <main>
      <h1>Aqara Camera Live Feed</h1>
      <video id="video-player" controls autoplay muted></video>
      <button id="talk-btn" type="button">Hold to Talk</button>
    </main>
    <script src="index.js"></script>
  </body>
</html>
